<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <title>Direct Debit</title>
    <link href="{{ url_for('static', filename='css/halfmoon.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="{{ url_for('static', filename='js/validation.js') }}"></script>
</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
      data-set-preferred-mode-onload="true">
<div class="page-wrapper with-navbar with-navbar-fixed-bottom">
    <div class="sticky-alerts"></div>
    <nav class="navbar">
        <a href="{{ url_for('index_page') }}" class="navbar-brand rounded">
            <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="StuBankLogo"> StuBank
        </a>
        <form class="form-inline d-none d-md-flex ml-auto" action="..." method="...">
            <input class="btn btn-danger" type="submit" value="Back" formaction="{{ url_for('index_page') }}">
        </form>
        <div class="navbar-content d-md-none ml-auto">
            <div class="dropdown with-arrow">
                <button class="btn" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-btn-1">
                    Menu
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right w-200" aria-labelledby="navbar-dropdown-toggle-btn-1">
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-content">
                        <form action="..." method="...">
                            <input class="btn btn-danger btn-block mb-5" type="submit" value="Back"
                                   formaction="{{ url_for('index_page') }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row pt-20">
                <div class="col"></div>
                <div class="card text-center">
                    <h1>Direct Debit:</h1>
                    <form class="p-card" action="{{ url_for("direct_debit_page.direct_debit_page_func") }}" method="post"
                          name="DirectDebit">
                        <div class="form-group">
                            <p>Choose account to send from</p>
                                <select class="form-control" name="account_sender_info" id="account_sender_info">
                                {% for account in users_accounts %}
                                    <p>{{ account.account_num }}</p>
                                    <p>{{ account.account_type }}</p>
                                    <option value="{{ account.account_num }},{{ account.sort_code }}">{{ account.account_type }}
                                        - Account Num: {{ account.account_num }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        <div class="form-group">
                            <label class="required" for="accountName">Name of recipient:</label>
                            <input class="form-control" type="text" id="accountName" name="accountName"  maxlength="140" required="required">
                        </div>
                        <div class="form-group">
                            <label class="required" for="sortCodeReceiving">Enter Sort Code of receiver:</label>
                            <input class="form-control" type="number" id="sortCodeReceiving" name="sortCodeReceiving" pattern="^(\d{2}\s?-?){2}\d{2}$" maxlength="6" required="required">
                        </div>
                        <div class="form-group">
                            <label class="required" for="accountNumReceiver">Enter Account Number of Receiver:</label>
                            <input class="form-control" type="text" id="accountNumReceiver" name="accountNumReceiver" pattern="/^[0-9]{8}$/" maxlength="8" required="required">
                        </div>
                        <div class="form-group">
                            <label class="required" for="reference">Reference:</label>
                            <input class="form-control" type="text" id="reference" name="reference" maxlength="40" pattern="/^[a-zA-Z0-9\s/@&+_\.\'\,\-\/]+$/">
                        </div>
                        <div class="form_group">
                            <label class="required" for="amount">Amount:</label>
                            <input class="form-control" type="number" id="amount" name="amount" pattern="/^([0-9\,]{1,10})?(\.[0-9]{1,2})?$/" maxlength="13">
                        </div>
                        <div class="form-group">
                            <label class="required" for="paymentDate">Date of first payment:</label>
                            <input type="date" id="paymentDate" name="paymentDate" value="dd-mm-yyyy" required="required">
                        </div>
                        <div class="form-group">
                            <label class="required" for="frequency">Frequency:</label>
                            <select class="form-control" name="frequency" id="frequency" required="required">
                                <option selected="selected">Please select...</option>
                                <option value="weekly" id="weekly">Weekly</option>
                                <option value="everyFourWeeks" id="everyFourWeeks">Every 4 Weeks</option>
                                <option value="monthly" id="monthly">Monthly</option>
                                <option value="annually" id="annually">Annually</option>
                            </select>
                        </div>
                        <div>
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-fixed-bottom">
        <div class="container-fluid">
            <button class="btn btn-primary" type="button" onclick="toggleDark()">Toggle Darkmode!</button>

            <!-- JavaScript -->
            <script type="text/javascript">
                // Dark mode toggle
                function toggleDark() {
                    halfmoon.toggleDarkMode();
                }
            </script>
            <ul class="navbar-nav ml-auto">
                <!-- ml-auto = margin-left: auto -->
                <li class="nav-item">
                    <a href="{{ url_for('extra_info_page.contact') }}" class="nav-link">Contact</a>
                </li>
            </ul>
            <!-- Navbar text -->
            <span class="navbar-text">
                    <p>
                        &copy; <strong>StuBank </strong> a project by Team35
                    </p>
                </span>
        </div>
    </nav>
</div>
<!-- Halfmoon JS -->
<script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
</body>

</html>