<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chris' Pool</title>
    <link href="{{ url_for('static', filename='css/halfmoon.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true" data-set-preferred-mode-onload="true">
    <div class="page-wrapper with-navbar">
        <div class="sticky-alerts"></div>
        <nav class="navbar">
            <a href="#" class="navbar-brand rounded">
                <img src="{{url_for('static', filename='assets/logo.png')}}" alt="StuBankLogo"> StuBank
            </a>
            <ul class="navbar-nav d-none d-md-flex">
                <li class="nav-item active">
                    <a href="{{url_for('account_page.accounts_page')}}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Move Money</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Account Settings </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('manage_cards.manage_cards_func') }}" class="nav-link">Manage Cards</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Manage Overdraft</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('manage_pools.manage_pools_func', filename='manage_pools.html')}}" class="nav-link">Manage Pools</a>
                </li>
            </ul>
            <form class="form-inline d-none d-md-flex ml-auto" action="..." method="...">
                <input class="btn btn-danger" type="submit" value="Logout" formaction="{{ url_for('index_page') }}">
                <input class="btn btn-danger" type="submit" value="Back" formaction="/manage_pools.html">
            </form>
            <div class="navbar-content d-md-none ml-auto">
                <div class="dropdown with-arrow">
                    <button class="btn" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-btn-1">
                        Menu
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right w-200" aria-labelledby="navbar-dropdown-toggle-btn-1">
                        <a href="{{url_for('account_page.accounts_page')}}" class="dropdown-item">Home</a>
                        <a href="#" class="dropdown-item">Move Money</a>
                        <a href="#" class="dropdown-item">Account Settings</a>
                        <a href="#" class="dropdown-item">Manage Cards</a>
                        <a href="#" class="dropdown-item">Manage Overdraft</a>
                        <a href="{{url_for('manage_pools.manage_pools_func', filename='manage_pools.html')}}" class="dropdown-item">Manage Pools</a>

                        <div class="dropdown-divider"></div>
                        <div class="dropdown-content">
                            <form action="..." method="...">
                                <input class="btn btn-danger btn-block mb-5" type="submit" value="Logout" formaction="{{ url_for('index_page') }}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="content-wrapper">
            <div class="table-class card shadow">
                <h1 class="text-center">Chris' Pool</h1>
                <table class="table small">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Balance</th>
                            <th>Members</th>
                            <th>Date Created</th>
                            <th>Owner</th>
                        </tr>
                    </thead>
                    <tr>
                        <td><strong><a href>Chris' Pool</a></strong></td>
                        <td>£1000.00</td>
                        <td>Chris, Carl, Jeff</td>
                        <td>07/01/2021</td>
                        <td>Chris</td>
                    </tr>
                </table>
                <form>
                    <input class="btn btn-primary" type="submit" value="Deposit" formaction="#modalDeposit">
                    <input class="btn btn-primary" type="submit" value="Withdraw" formaction="#modalWithdraw">
                    <input class="btn btn-primary" type="submit" value="Leave" formaction="#modalLeave">
                    <input class="btn btn-primary" type="submit" value="Add User" formaction="#modalAddUser">
                    <input class="btn btn-primary" type="submit" value="Remove User" formaction="#modalRemoveUser">
                    <input class="btn btn-danger" type="submit" value="Delete" formaction="#modalDelete">
                </form>
            </div>

            <div class="modal" id="modalDeposit" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <a href="#" class="btn close" role="button" aria-label="Cancel">
                              <span aria-hidden="true">&times;</span>
                          </a>
                          <h5 class="modal-title">Deposit to the Pool</h5>
                          <form action="..." method="...">
                              <div class="form-group">
                                  <label for="bankAccount" class="required">Bank Account</label>
                                  <select id="account" class="form-control" required="required">
                                      <option value="current">Current Account</option>
                                      <option value="savings">Savings Account</option>
                                  </select>
                              </div>
                              <div class="form-group">
                                  <label for="deposit" class="required">Amount to Deposit (£)</label>
                                  <input type="number" min="0" max="1000" id="deposit" class="form-control" required="required" step=".01">
                              </div>
                              <input class="btn btn-primary" type="submit" value="Deposit">
                              <a href="#" class="btn btn-secondary" role="button">Cancel</a>
                          </form>
                      </div>
                  </div>
            </div>

            <div class="modal" id="modalWithdraw" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <a href="#" class="btn close" role="button" aria-label="Cancel">
                              <span aria-hidden="true">&times;</span>
                          </a>
                          <h5 class="modal-title">Withdraw From the Pool</h5>
                          <form action="..." method="...">
                              <div class="form-group">
                                  <label for="bankAccount" class="required">Bank Account</label>
                                  <select id="account" class="form-control" required="required">
                                      <option value="current">Current Account</option>
                                      <option value="savings">Savings Account</option>
                                  </select>
                              </div>
                              <div class="form-group">
                                  <label for="deposit" class="required">Amount to Withdraw (£)</label>
                                  <input type="number" min="0" max="1000" id="deposit" class="form-control" required="required" step=".01">
                              </div>
                              <input class="btn btn-primary" type="submit" value="Withdraw">
                              <a href="#" class="btn btn-secondary" role="button">Cancel</a>
                          </form>
                      </div>
                  </div>
            </div>

            <div class="modal" id="modalLeave" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <a href="#" class="btn close" role="button" aria-label="Cancel">
                              <span aria-hidden="true">&times;</span>
                          </a>
                          <h5 class="modal-title">Are you sure you want to leave?</h5>
                          <form>
                              <input class="btn btn-danger" type="submit" value="Leave" formaction="">
                              <a href="#" class="btn btn-secondary" role="button">Cancel</a>
                          </form>
                      </div>
                  </div>
            </div>

            <div class="modal" id="modalAddUser" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <a href="#" class="btn close" role="button" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </a>
                          <h5 class="modal-title">Share the information below with the person you would like to add</h5>
                          <form>
                              <label>Pool Username: username</label>
                              <label>Pool Password: password</label>
                              <a href="#" class="btn btn-secondary" role="button">Close</a>
                          </form>
                      </div>
                  </div>
            </div>

            <div class="modal" id="modalRemoveUser" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <a href="#" class="btn close" role="button" aria-label="Cancel">
                              <span aria-hidden="true">&times;</span>
                          </a>
                          <h5 class="modal-title">Remove a User From the Pool</h5>
                          <form action="..." method="...">
                              <div class="form-group">
                                  <label for="bankAccount" class="required">User to Remove</label>
                                  <select id="account" class="form-control" required="required">
                                      <option>Carl</option>
                                      <option>Jeff</option>
                                  </select>
                              </div>
                              <form>
                                  <input class="btn btn-danger" type="submit" value="Remove" formaction="">
                                  <a href="#" class="btn btn-secondary" role="button">Cancel</a>
                              </form>
                          </form>
                      </div>
                  </div>
            </div>

            <div class="modal" id="modalDelete" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <a href="#" class="btn close" role="button" aria-label="Cancel">
                              <span aria-hidden="true">&times;</span>
                          </a>
                          <h5 class="modal-title">Are you sure you want to delete the pool?</h5>
                          <form>
                              <input class="btn btn-danger" type="submit" value="Delete" formaction="">
                              <a href="#" class="btn btn-secondary" role="button">Cancel</a>
                          </form>
                      </div>
                  </div>
            </div>

            <nav class="navbar navbar-static-bottom">
                <div class="container-fluid">
                    <button class="btn btn-primary" type="button" onclick="toggleDark()">Toggle Darkmode!</button>

                    <!-- JavaScript -->
                    <script type="text/javascript">
                        // Dark mode toggle
                        function toggleDark() {
                            halfmoon.toggleDarkMode();
                        }
                    </script>
                    <ul class="navbar-nav ml-auto">
                        <!-- ml-auto = margin-left: auto -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contact</a>
                        </li>
                    </ul>
                    <!-- Navbar text -->
                    <span class="navbar-text">
                        <p>
                            &copy; <strong>StuBank </strong> a project by Team35
                        </p>
                    </span>
                </div>
            </nav>
        </div>
        <!-- Halfmoon JS -->
        <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    </div>
</body>


</html>