<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <title>Reports</title>
    <link href="{{ url_for('static', filename='css/halfmoon.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script src='https://pagecdn.io/lib/chart/2.9.3/Chart.min.js'></script>
</head>

<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
      data-set-preferred-mode-onload="true">
<div class="page-wrapper with-navbar with-navbar-fixed-bottom">
    <div class="sticky-alerts"></div>
    <nav class="navbar">
        <a href="{{ url_for('index_page') }}" class="navbar-brand rounded">
            <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="StuBankLogo"> StuBank
        </a>
        <ul class="navbar-nav d-none d-xl-flex">
            <li class="nav-item active">
                <a href="{{ url_for('account_page.accounts_page') }}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('bank_transfer_page.bank_transfer') }}" class="nav-link">Move Money</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Account Settings </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Manage Cards</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Manage Overdraft</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('manage_pools.manage_pools_func') }}" class="nav-link">Manage Pools</a>
            </li>
        </ul>
        <form class="form-inline d-none d-xl-flex ml-auto" action="..." method="...">
            <input class="btn btn-danger" type="submit" value="Logout" formaction="{{ url_for('index_page') }}">
            <input class="btn btn-danger" type="submit" value="Apply for an Account"
                   formaction="{{ url_for('bank_acc_application_page.bank_application') }}">
        </form>
        <div class="navbar-content d-xl-none ml-auto">
            <div class="dropdown with-arrow">
                <button class="btn" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-btn-1">
                    Menu
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right w-200" aria-labelledby="navbar-dropdown-toggle-btn-1">
                    <a href="{{ url_for('account_page.accounts_page') }}" class="dropdown-item">Home</a>
                    <a href="{{ url_for('bank_transfer_page.bank_transfer') }}" class="dropdown-item">Move Money</a>
                    <a href="#" class="dropdown-item">Account Settings</a>
                    <a href="#" class="dropdown-item">Manage Cards</a>
                    <a href="#" class="dropdown-item">Manage Overdraft</a>
                    <a href="{{ url_for('manage_pools.manage_pools_func') }}" class="dropdown-item">Manage Pools</a>

                    <div class="dropdown-divider"></div>
                    <div class="dropdown-content">
                        <form action="..." method="...">
                            <input class="btn btn-danger btn-block mb-5" type="submit" value="Logout"
                                   formaction="{{ url_for('index_page') }}">
                            <input class="btn btn-danger btn-block mb-5" type="submit" value="Apply for an Account"
                                   formaction="{{ url_for('bank_acc_application_page.bank_application') }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="btn-group" role="group" aria-label="Button group">
            <form action="..." method="...">
                <input class="btn" type="submit" value="Show expenditure report for last 7 days"
                       formaction="/reports/7days">
                <input class="btn" type="submit" value="Show expenditure report for last 4 weeks"
                       formaction="/reports/weekly">
                <input class="btn" type="submit" value="Show expenditure report for last 12 months"
                       formaction="/reports/yearly">
            </form>
        </div>
        <div class="card" id="chart-div">
                <canvas id="report"></canvas>
        </div>

        <script>
            var canvas = document.getElementById('report');
            var heightRatio = 0.66;
            var w = window.innerWidth;
            canvas.width = w*0.66;
            //Doesn't change on window resize, rather on reload
            //Not ideal but better performance wise and not many users will be resizing alot
            canvas.height = canvas.width * heightRatio;
            Chart.defaults.global.responsive = false;

            var chartData = {
                labels: [{% for item in labels %}
                    "{{item}}",
                {% endfor %}],
                datasets: [{
                    label: '{{ legend }}',
                    fill: true,
                    lineTension: 0.1,
                    backgroundColor: "rgba(75,192,192,0.4)",
                    borderColor: "rgba(75,192,192,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(75,192,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: [{% for item in values %}
                        {{item}},
                    {% endfor %}],
                    spanGaps: false
                }]
            }

            var ctx = document.getElementById("report").getContext("2d");

            var myChart = new Chart(ctx, {
                type: 'bar',
                data: chartData,
            });
        </script>
        <p id="transaction">Biggest transaction: {{ big }}</p>
        <script>
            if ('{{ hidden }}' === 'true') {
                document.getElementById("report").hidden = true;
                document.getElementById("transaction").hidden = true;
            } else {
                document.getElementById("report").hidden = false;
                document.getElementById("transaction").hidden = false;
            }
        </script>
    </div>
        <nav class="navbar navbar-fixed-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" type="button" onclick="toggleDark()">Toggle Darkmode!</button>

                <!-- JavaScript -->
                <script type="text/javascript">
                    // Dark mode toggle
                    function toggleDark() {
                        halfmoon.toggleDarkMode();
                    }
                </script>
                <ul class="navbar-nav ml-auto">
                    <!-- ml-auto = margin-left: auto -->
                    <li class="nav-item">
                        <a href="{{ url_for('extra_info.contact') }}" class="nav-link">Contact</a>
                    </li>
                </ul>
                <!-- Navbar text -->
                <span class="navbar-text">
                        <p class="bottom-text">
                            &copy; <strong>StuBank </strong> a project by Team35
                        </p>
                    </span>
            </div>
        </nav>
    <!-- Halfmoon JS -->
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
</div>
</body>

</html>